.idea/
/build/M3U Copy Tool/Analysis-00.toc
/build/M3U Copy Tool/base_library.zip
/build/M3U Copy Tool/EXE-00.toc
/dist/M3U Copy Tool.exe
/build/M3U Copy Tool/M3U Copy Tool.pkg
/M3U Copy Tool.spec
/build/M3U Copy Tool/PKG-00.toc
/build/M3U Copy Tool/PYZ-00.pyz
/build/M3U Copy Tool/PYZ-00.toc
/build/M3U Copy Tool/warn-M3U Copy Tool.txt
/build/M3U Copy Tool/xref-M3U Copy Tool.html
build/
